In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [5]:

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split

# Read the CSV and Perform Basic Data Cleaning

In [6]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [7]:
# Load the data
file_path = Path('/content/drive/MyDrive/Colab Notebooks/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [8]:
# Create our features
X = pd.get_dummies(df.drop('loan_status', axis=1))

# Create our target
y = df[['loan_status']]

In [9]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [10]:

y.describe()

       loan_status
count        68817
unique           2
top       low_risk
freq         68470

In [11]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [12]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

X_train.shape

(51612, 95)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [13]:
# Resample the training data with the RandomOversampler
from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier(n_estimators = 100)
random_forest = random_forest.fit(X_train, y_train)

In [14]:
# Display the confusion matrix
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7766870583222962

In [15]:
# Print the imbalanced classification report
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   69,    32],
       [ 2220, 14884]])

In [16]:
# List the features sorted in descending order by feature importance
feature_names = X.columns
sorted(zip(random_forest.feature_importances_, feature_names), reverse=True)

[(0.06597872436406085, 'total_pymnt'),
 (0.06376367535087392, 'total_rec_prncp'),
 (0.06332551829784883, 'total_pymnt_inv'),
 (0.053787811424040564, 'total_rec_int'),
 (0.05065507613265303, 'last_pymnt_amnt'),
 (0.03262854510888649, 'int_rate'),
 (0.01933964160666677, 'mths_since_recent_inq'),
 (0.018902033154202132, 'dti'),
 (0.016782289385119335, 'out_prncp_inv'),
 (0.01637854145143987, 'issue_d_Jan-2019'),
 (0.016335900631599037, 'revol_bal'),
 (0.016262651272163982, 'out_prncp'),
 (0.015968719348500963, 'mo_sin_old_rev_tl_op'),
 (0.015797985764060808, 'installment'),
 (0.015569264905682374, 'max_bal_bc'),
 (0.015487126233951194, 'total_bc_limit'),
 (0.015364846505910357, 'mths_since_rcnt_il'),
 (0.015259631094828599, 'tot_cur_bal'),
 (0.015200415127474219, 'avg_cur_bal'),
 (0.015090640650532054, 'bc_util'),
 (0.014550366789014023, 'annual_inc'),
 (0.014302486246091192, 'bc_open_to_buy'),
 (0.013702325184637806, 'total_bal_ex_mort'),
 (0.013555871889209923, 'loan_amnt'),
 (0.012901042499553546, 'mo_sin_old_il_acct'),
 (0.012878828214059293, 'il_util'),
 (0.012577839746639412, 'total_acc'),
 (0.01192811996620456, 'total_rev_hi_lim'),
 (0.011823469930937493, 'total_bal_il'),
 (0.011623828937454403, 'mths_since_recent_bc'),
 (0.011516793842311832, 'tot_hi_cred_lim'),
 (0.011454857481675223, 'issue_d_Mar-2019'),
 (0.011353688651745481, 'num_il_tl'),
 (0.011106739930622373, 'all_util'),
 (0.010781405582610981, 'mo_sin_rcnt_rev_tl_op'),
 (0.010521304294040898, 'total_il_high_credit_limit'),
 (0.010030514977089365, 'num_op_rev_tl'),
 (0.00996789943522626, 'open_acc'),
 (0.009581792084862427, 'num_rev_accts'),
 (0.009320552698125461, 'inq_last_12m'),
 (0.009049567530033064, 'pct_tl_nvr_dlq'),
 (0.008738385882185024, 'num_sats'),
 (0.008635546666106206, 'mo_sin_rcnt_tl'),
 (0.008520899587326368, 'percent_bc_gt_75'),
 (0.008515786070077452, 'acc_open_past_24mths'),
 (0.00824100019848313, 'open_il_24m'),
 (0.008219448498310342, 'num_bc_tl'),
 (0.00815779394594409, 'inq_fi'),
 (0.008142731919652247, 'total_cu_tl'),
 (0.008138040152813147, 'num_actv_rev_tl'),
 (0.007999071660165565, 'num_rev_tl_bal_gt_0'),
 (0.007439696449057032, 'num_tl_op_past_12m'),
 (0.007179820398425003, 'num_bc_sats'),
 (0.006811539483750596, 'total_rec_late_fee'),
 (0.0066877939619146174, 'open_rv_24m'),
 (0.0060880315367512275, 'open_acc_6m'),
 (0.006037459550512706, 'open_act_il'),
 (0.005676282975629839, 'mort_acc'),
 (0.005501309743514308, 'open_rv_12m'),
 (0.0054415671404939294, 'next_pymnt_d_May-2019'),
 (0.005351283909996497, 'num_actv_bc_tl'),
 (0.004257887018941229, 'open_il_12m'),
 (0.004178698834254865, 'num_accts_ever_120_pd'),
 (0.004128014826376107, 'inq_last_6mths'),
 (0.0041047221533654175, 'issue_d_Feb-2019'),
 (0.0036041810923721556, 'tot_coll_amt'),
 (0.0036040958137903145, 'delinq_2yrs'),
 (0.0032354002574196384, 'next_pymnt_d_Apr-2019'),
 (0.002656290203904309, 'pub_rec_bankruptcies'),
 (0.002337967033514036, 'verification_status_Not Verified'),
 (0.0022837759258400306, 'application_type_Joint App'),
 (0.0022092378402292267, 'verification_status_Source Verified'),
 (0.002114643300307501, 'home_ownership_MORTGAGE'),
 (0.002051926106896118, 'verification_status_Verified'),
 (0.0020329377817229224, 'application_type_Individual'),
 (0.0018979161721434724, 'home_ownership_RENT'),
 (0.0017183267864070142, 'home_ownership_OWN'),
 (0.0014631202792963057, 'initial_list_status_f'),
 (0.0011454265117360157, 'pub_rec'),
 (0.0010310803896283382, 'collections_12_mths_ex_med'),
 (0.0009660908400829653, 'initial_list_status_w'),
 (0.0006294758366144607, 'num_tl_90g_dpd_24m'),
 (0.0003019539687123852, 'home_ownership_ANY'),
 (0.00011500757269544123, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

In [37]:
!pip install scikit-learn==1.0 -U

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-learn==1.0
  Downloading scikit_learn-1.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (23.1 MB)
     |████████████████████████████████| 23.1 MB 126.1 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.7.3)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed scikit-learn-1.0

### Easy Ensemble AdaBoost Classifier

In [17]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
easy = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
easy = easy.fit(X_train, y_train)

In [18]:
# Calculated the balanced accuracy score
y_pred = easy.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9316600714093861

In [19]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   93,     8],
       [  983, 16121]])

In [20]:
# Print the imbalanced classification report
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205